@font-face {
	font-family: 'Archistico_Bold';
	src: url('Archistico_Bold.ttf') format('truetype');
}

body {
background-image: url("fondcv.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
font-size: 1.2em;
}
main {
    display: flex;
    flex-direction: row;
}
header h1 {
	font-family: 'Archistico_Bold', Arial, serif;
	color: black;
	text-align: center;
	font-weight: bold;
	text-shadow: 4px 4px 4px black;
	font-size: 3.3em;
}