@font-face
{
	font-family: 'Archistico_Bold';
	src: url('Archistico_Bold.ttf') format('truetype');
}

body
{
background-image: url("fondcv.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
font-size: 1.2em;
}

#conteneur
{
	display: flex;
    flex-direction: row;
}
@media all and (max-width: 1024px){
	#conteneur{
		flex-direction: column;
	}
}
section {
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
}

h1
{
	font-family: 'Archistico_Bold', Arial, serif;
	color: black;
	text-align: center;
	font-weight: bold;
	text-shadow: 4px 4px 4px black;
	font-size: 3.3em;
}
img
{
    position: absolute;
	top: 15px;
	right: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    width: 125px;
    height: auto;
	border-radius: 5%;
}

h2
{
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-size: 1.6em;
}
#Activités{
	border: 2px black solid;
	border-radius: 10px;
	background-image: url(roller-hockey.jpg);
	text-shadow: 2px 2px 5px whitesmoke;
	
}

#Formation a {
	color: darkred;
}
#Formation a:hover {
	text-decoration: none;
	font-size: 1.2em;
}
footer {
	
}